.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

 .navbar-link{
   text-decoration: none !important;
   color:black !important
   
 }
.inp{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-image: url('searchicon.png')   */
}
.inp:focus{
  border: 1.3px solid black;
  border-radius: 4px;
  outline: none;
  
}
 .btn{
   position: relative;
   background: #fbfaff;
   color: black;
   /* width: 10rem; */
   margin-bottom: 2rem;
   padding: 1rem 0;
   border: none;
   outline: none;
   font-size: 1.2rem;
   font-weight: 800;
  
margin-left: 10px;

 }
 .btn::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 0.175rem;
   background:#ea0e4b ;
   left: 0;
   bottom: 0;
cursor: pointer;
 }
 .btn-start::after{

  transform: scale(0,1);
transition: transform 0.3s ease;
 }

 .btn-start:hover::after{
/* color: #ea0e4b; */
  transform: scale(1,1);
  
 }
 .btn:hover{
  
  box-shadow:
  3.1px 2.3px 38.3px rgba(0, 0, 0, 0.022),
  8.6px 6.3px 45.1px rgba(0, 0, 0, 0.033),
  20.8px 15.1px 51px rgba(0, 0, 0, 0.043),
  69px 50px 80px rgba(0, 0, 0, 0.07)
;
 }

 .sidebar{
  position: relative;
 
 }
 .sidebar::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background:#FF1493 ;
  left: 0;
  bottom: 0;
cursor: pointer;
 }

 .btn-sidebar::after{

  transform: scale(0,1);
transition: transform 0.3s ease;
 }

 .btn-sidebar:hover::after{

  transform: scale(1,1);
  
 }

 .btn-sidebarSec{

transform: scale(1,1);
 }
  
